@font-face {
  font-family: "le-murmure";
  src: url("../assets/le-murmure.otf") format("opentype");
}

.intro-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 7%;
    width: 60%;
    img {
        border-radius: 50%;
        filter: grayscale(1);
        padding: .5%;
        border: 1px solid black;
    }
    .intro-keyinfo {
        margin-left: 40px;
        display: flex;
        flex-direction: column;
        h1 {
            -webkit-font-smoothing: antialiased;
            font-family: "le-murmure", serif;
            text-shadow: 2px 2px 0 #000;
            padding: 0;
            margin: 0;
            font-size: 140px;
            font-weight: normal;
            -webkit-text-fill-color: white;
            -webkit-text-stroke-width: 0.5px;
            -webkit-text-stroke-color: black;
        }
        p {
            width: 80%;
            font-size: 1.4em;
            margin-left: 15px;
            text-align: justify;
            hyphens: auto;
        }
    }
}
@media only screen and (max-width: 1200px) {
    .intro-section {
        margin-top: 27%;
        border: none;
        width: 100%;
        flex-direction: column;
        .intro-keyinfo {
            margin: 0 auto;
            h1 {
                font-size: 5em;
                margin: 0 auto;
            }
            p {
                margin: 0 auto;
                width: 95%;
                font-size: 1.2em;
            }
        }
    }
}